@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Virgil";
    src: url("./assets/font/Virgil.woff2");
}

:root {
    background-color: #E4E2dd;
    color: black;
}

body {
    font-family: "Virgil", 'Aileron', sans-serif;
}