@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

input {
    background-color: #303030;
    border-radius: 0.15rem;
}